<title>Meu form querido</title>

<section>

</section>

<section>
  <%= form_for :parser, url: parser_process_file_path, html: { method: :post } do |form| %>
    <div>
      <%= form.file_field :input_file, required: true %>
    </div>

    <%= form.submit I18n.t('views.parser.send_file') %>
  <% end %>
</section>
