<h1><%= I18n.t('views.parser.sales_results') %></h1>

<div><%= I18n.t('views.parser.total_clients', number_of_clients: @clients.size) %></div>

<div><%= I18n.t('views.parser.total_merchants', number_of_merchants: @merchants.size) %></div>

<div><%= I18n.t('views.parser.total_items', number_of_items: @items.size) %></div>

<div><%= I18n.t('views.parser.total_orders', number_of_orders: @orders.size) %></div>

<div><%= I18n.t('views.parser.total_orders_incoming', total: Order.all_total_incoming.to_f.to_s.gsub('.', ',')) %></div>