<style>
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: gray;
    color: white;
    text-align: center;
  }
</style>

<div class="footer">
  <p><%= I18n.t('views.application.developed_by', name: 'Rodrigo Pedro Felipe Marques') %></p>
  <p><a href="mailto:rodrigomarques1993@gmail.com">rodrigomarques1993@gmail.com</a></p>
  <p><a href="https://www.linkedin.com/in/rodrigopedromarques/">LinkedIn</a></p>
</div>