<!DOCTYPE html>
<html>
  <head>
    <title><%= I18n.t('views.application.project_title') %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/flash' %>
    <%= render 'layouts/links_menu' %>
    <%= yield %>
    <%= render 'layouts/footer' %>
  </body>
</html>
